<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:replace="layout/head">
<link rel="stylesheet" href="/css/index.css">
</head>
<body>
	<div th:replace="layout/header :: header"></div>
	<div class="content">
		<div class="top-banner"></div>
		<section class="main-item">
			<div class="main-item-wrapper">
				<h2>이 레스토랑 어때요?</h2>
				<ul class="item-list">
					<li th:each="item : ${randomRsList}">
						<a th:href="|/res/detail/${item.no}|">
							<img class="thumb" alt="res-thumb" th:src="${item.thumb}">
							<span class="item-title" th:text="${item.nm}"></span>
						</a>
						<span class="item-addr" th:text="|${item.addr} ${item.betterAddr}|"></span>
					</li>
				</ul>
			</div>
		</section>
	</div>
	<div th:replace="layout/footer :: footer"></div>
</body>
</html>