<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MbrMapper">

	<select id="selectAll" resultType="MbrVO">
		SELECT * FROM TB_MBR
	</select>

	<select id="selectDetail" parameterType="int"
		resultType="MbrVO">
		SELECT * FROM TB_MBR WHERE ID=#{id}
	</select>

	<insert id="insert" parameterType="MbrVO">
		INSERT INTO TB_MBR (ID, PW, NM, PHONE_NUM, EMAIL)
		VALUES (#{id}, #{pw}, #{nm}, #{phone_num}, #{email})
	</insert>
	<update id="update" parameterType="MbrVO">
		UPDATE TB_MBR
		SET
		PW=#{pw},
		NM=#{nm},
		PHONE_NUM=#{phone_num},
		EMAIL=#{email}
		WHERE
		ID=#{id}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM TB_MBR
		WHERE ID=#{id}
	</delete>

</mapper>