<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="RsMapper">

	<select id="selectAll" resultType="RsVO">
		SELECT * FROM TB_RS
	</select>

	<select id="selectDetail" parameterType="int"
		resultType="RsVO">
		SELECT * FROM TB_RS WHERE NO=#{no}
	</select>

	<insert id="insert" parameterType="RsVO">
		INSERT INTO TB_RS (NO, NM, POST_CODE, ADDR, BETTER_ADDR)
		VALUES (#{no}, #{nm}, #{post_code}, #{addr}, #{better_addr})
	</insert>
	<update id="update" parameterType="RsVO">
		UPDATE TB_RS
		SET
		NM=#{nm},
		POST_CODE=#{post_code},
		ADDR=#{addr},
		BETTER_ADDR=#{better_addr}
		WHERE
		NO=#{no}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM TB_RS
		WHERE NO=#{no}
	</delete>

</mapper>