<footer>
	<div class="footer_width">
		<div class="cc">
			<div class="tit_cc">
				<h2>고객 행복 센터</h2>
			</div>
			<div class="cc_view cc_call">
				<h3>
					<span class="tit"> 1234-5678 </span>
				</h3>
			</div>
			<div class="cc_view cc_kakao">
				<h3>
					<a class="tit" href="#none"> 카카오톡 문의 </a>
				</h3>
			</div>
			<div class="cc_view cc_qna">
				<h3>
					<a class="tit" href="#none"> 1:1 문의 </a>
				</h3>
			</div>
		</div>
		
		<div class="company">
			<ul class="list">
				<li><a class="link" href="#">소개</a></li>
				<li><a class="link" href="#">이용약관</a></li>
				<li><a class="link" href="#">개인정보처리방침</a></li>
				<li><a class="link" href="#">이용안내</a></li>
			</ul>
			<br>
			법인명(상호): RSPAGE <span class="bar">|</span> 사업자등록 번호: 261-81-23567<br>
			통신판매업: 제 2021-서울강남 <span class="bar">|</span> 개인정보보호책임자: 김땡땡<br>
			주소: 서울특별시 강남구 테헤란로 12345, 78층<span class="bar">|</span> 대표 이사: 김땡땡<br>
			제휴 문의: business@naver.com<br> 팩스: 070-1234-5678<br> 이메일: help@naver.com<br>
			<em class="copy">©ALL RIGHTS RESERVED.</em>
		</div>
	</div>
</footer>