<header>
	<a class="top-logo" href="#"><img src="#" alt="top-logo"></a>

	<div class="menu-area">
		<ul class="menu-list">
			<li><a href="#">전체</a></li>
			<li><a href="#">카테고리1</a></li>
			<li><a href="#">카테고리2</a></li>
		</ul>
		
		<div class="menu-right-area">
			<input class="search-input" placeholder="검색어를 입력해주세요." type="text">
			<button class="cart-btn" type="button">장바구니</button>
		</div>
	</div>

	<div class="floating-area">
		<a href="#">회원가입</a>
		<a href="#">로그인</a>
	</div>
</header>