<header>
	<a class="top-logo" href="/"><img src="/img/rsicon.png" alt="top-logo"></a>

	<div class="menu-area">
		<ul class="menu-list">
			<li><a href="/res/list">전체</a></li>
			<li th:each="item : ${CTG_LIST}">
				<a th:href="|/res/list?ctgNo=${item.ctgNo}|" th:text="${item.ctgNm}"></a>
			</li>
			
		</ul>
		
		<div class="menu-right-area">
			<input id="searchInput" class="search-input" placeholder="검색어를 입력해주세요." type="text">
			<img id="searchButton" class="search-btn" src="/img/ehe.png" alt="search-button">
		</div>
	</div>

	<div class="floating-area">
		<a href="/res/join" th:if="${loginMbrVO == null}">회원가입</a>
		<a href="/res/login" th:if="${loginMbrVO == null}">로그인</a>
		<a href="/res/logout" th:if="${loginMbrVO != null}">로그아웃</a>
		<a href="/res/cart"><img class="basket-btn" src="/img/carticon.png" alt="basket-btn"></a>
	</div>
</header>