<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:replace="layout/head">
</head>
<body>
	<div th:replace="layout/header :: header"></div>
	<div class="list-content">
		<section class="list-item">
			<div class="top-title2">
				<h3>장바구니???</h3>
			</div>
			<div class="cart_item">
				<div class="cart_select">
					<div class="ineer_select">
						<label class="check"> 
						<input type="checkbox" name="checkAll" disabled checked>
						<span class="ico"></span>전체 선택 </label> 
						<a href="#none"
							class="btn_delete"> 선택 삭제</a>
					</div>
				</div>
				<div class="inner_empty">
					<p class="txt">장바구니에 담긴 상품이 없습니다</p>
				</div>
			</div>
			<div class="list-wrapper"></div>
		</section>
	</div>
	<div th:replace="layout/footer :: footer"></div>
</body>
</html>