<!-- @TODO 
리스트 페이지 (전체 / 카테고리1 / 카테고리2 공용!)
1. 마켓컬리 전체 화면처럼 퍼블리싱 (HTML+CSS), 푸터
2. Controller 에 특정 URL 작성 + header.html에 전체/카테고리1/카테고리2에 링크 연결!
3. RevDao 이용해서 selectAll 호출하기!

* 카테고리 데이터가 없기 때문에, 배제하고 만들기!
 -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:replace="layout/head">
</head>
<body>
	<div th:replace="layout/header :: header"></div>
	<div class="res-wrapper">
		<div class="res-main">
			<div class="res-image">
				<img th:src="${rs.thumb}" class="thumb1" alt="res-thumb">
			</div>
			<div class="res-info">
				<p class="res-name">
					<strong class="name" th:text="${rs.nm}"></strong> <span
						class="shot_desc" th:text="${rs.addr}"></span> <span
						th:text="${rs.betterAddr}"></span>
				</p>
				<div class="evaluation">
					<i class='icon-star'></i> <span class="total"
						th:text="${rs.rating}"></span> <span class="price"
						th:text="${rs.priceGroup}"></span> <span class="detail"
						th:text="${rs.ctgNm}"></span>
				</div>
				<div class="place-info">
					<div class="res-content">
						<h3 class="res-title">매장 정보</h3>
						<div class="res-content">
							<dl class="info-content" th:if="${rs.addr != null}">
								<dt>주소</dt>
								<dd th:text="|${rs.addr}${rs.betterAddr}|"></dd>
							</dl>
							<dl class="info-content" th:if="${rs.contact != null}">
								<dt>전화</dt>
								<dd th:text="${rs.contact}"></dd>
							</dl>
							<dl class="info-content" th:if="${rs.salesTime != null}">
								<dt>영업 시간
								<dd th:text="${rs.salesTime}"></dd>
							</dl>
							<dl class="info-content" th:if="${rs.holiday != null}">
								<dt>휴무일</dt>
								<dd th:text="${rs.holiday}"></dd>
							</dl>
							<dl class="info-content" th:if="${rs.parkingYn != null}">
								<dt>주차</dt>
								<dd th:if="${rs.parkingYn.equals('Y')}">가능</dd>
								<dd th:if="${rs.parkingYn.equals('N')}">불가능</dd>
							</dl>
							<div class="connect_link" th:each="item: ${rsSnsList}">
								<div class="insta" th:if="${item.snsType == 1}">
								<a class="insta" th:href="${item.snsUrl}" target="_blank"><img class="insta" src="/img/insta.png" alt="insta_link"></a>
								</div>
								<div class="face" th:if="${item.snsType == 2}">
								<a class="face" th:href="${item.snsUrl}" target="_blank"><img class="face" src="/img/face.png" alt="face_link"></a>
								</div>
							</div>
						</div>
					</div>
					<div class="res-rev-btn">
						<a class="res-btn" href="#"> 예약하기 </a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="layout/footer :: footer"></div>
</body>
</html>