<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:replace="layout/head">
<link rel="stylesheet" href="/css/common.css">
</head>
<body>
	<div th:replace="layout/header :: header"></div>
	<div class="list-content">
		<section class="list-item">
			<div class="top-title">
				<h3>레스토랑 목록</h3>
			</div>
			<div class="list-wrapper">
				<ul class="item-list">
					<li th:each="item : ${rsList}">
						<a th:href="|/res/detail/${item.no}|">
							<img class="thumb" alt="res-thumb" th:src="${item.thumb}">
							<span class="item-title" th:text="${item.nm}"></span>
						</a>
						<span class="item-addr" th:text="|${item.addr} ${item.betterAddr}|"></span>
					</li>
				</ul>
			</div>
		</section>
	</div>
	<div th:replace="layout/footer :: footer"></div>
</body>
</html>