<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:replace="layout/head">
<script type="text/javascript" src="/js/res/login.js"></script>
</head>
<body>
	<div th:replace="layout/header :: header"></div>
	<div class="login-content">
		<div class="login-wrapper">
			<form id="loginForm">
				<div class="por">
					<span class="login_id">아이디</span> <input type="text" name="id"
						id="id" class="log" placeholder="아이디">
				</div>
				<div class="por">
					<span class="login_id">비밀번호</span> <input type="text" name="pw"
						id="pw" class="log" placeholder="비밀번호">
				</div>
				<div class="btn_login_area">
					<button type="button" class="btn_login"
						onclick="loginMbr()">로그인</button>
					<button type="button" class="btn_login"
						onclick="window.location.href='/res/join'">회원가입</button>
				</div>
			</form>
		</div>

	</div>
	<div th:replace="layout/footer :: footer"></div>
</body>
</html>